*{
    margin: 0px;
    padding: 0px;
}

body{
    background:black;
}

header {
    z-index: 100;
    position: sticky;
    top: 0;
}

h2{
    text-align: center;
        
}

#tarjetas{
    background-color: black;
}

.card:hover{
    -webkit-transform:scale(0.9);transform:scale(0.9);
}
.card {
    overflow:hidden;
}
.contenedor-cards{
    margin:8px;
}






























.section-1{
    margin-top: 70px;
    height: 500px;
    background-color: rgb(0, 0, 0);
    
}

.carta-sucursal{
    height: 380px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: auto;
    gap: 60px;
}

.carta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-size: cover;
    background-position: center center;
    min-height: 350px;

}

.sucursal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-size: cover;
    background-position: center center;
    min-height: 350px;
}

.boton{
    background: rgb(252, 164, 31);
    display: block;
    width: 60%;
    height: 10%;
    font-size: 14px;
    padding: 10px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-weight: bold;
}

.carta{
    background-color: rgb(50, 50, 50);
    background-blend-mode: soft-light;
}

.sucursal{
    background-color: rgb(50, 50, 50);
    background-blend-mode: soft-light;
}

.boton:hover{
    background: rgb(254, 228, 84);
}

.section-2{
    height: 450px;
    background-color: rgb(0, 0, 0);
}

.section-2 h4{
    color: white;
    font-size: 50px;
    margin-bottom: 10px;
    margin-left: 10%;
}

.comentario-chef{
    background: rgb(20, 20, 20);
    display: grid;
    grid-template-columns: 30% 70%;
    margin-left: 10%;
    margin-right: 10%;
    height: 200px;
    border-radius: 20px;
}

.parrafo-chef{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
}

.img-chef{
    width: 300px;
    border-radius: 20px;
}


.section-3{
    height: 750px;
    background-color: rgb(0, 0, 0);
}

.reserva{
    height: 600px;
    display: grid;
    grid-template-columns: 30% 70%;
    width: 80%;
    margin: auto;
    gap: 20px;
}

.reserva-figura{
    background: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
}

.img-reserva{
    height: 650px;
    min-height: 340px;
}

.boton-reserva{
    background: rgb(252, 164, 31);
    display: block;
    width: 60%;
    height: 10%;
    font-size: 14px;
    padding: 10px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-weight: bold;
}

.boton-reserva:hover{
    background: rgb(254, 228, 84);
}

footer{
    height: 300px;
    background: rgb(252, 164, 31);
}

.contacto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
}

.logo{
    text-align: center;
}

.logo .imagen{
    width: 300px;
}

.redes-container h4{
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
    background-color: #333;
    border-radius: 20px;
    padding: 8px;

}

.redes-container{
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    justify-content: center;
    margin: 30px 50px 5px 10px;
}

.redes-container ul li{
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.redes-container ul li a{
    display: block;
    padding: 0 10px;
    background: #333;
    color: white;
    line-height: 50px;
    font-size: 22px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .2);
    border-radius: 25px;
    transition: .2s;
}

.redes-container ul:hover a{
    filter: blur(2px);
}

.redes-container ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;
}

.redes-container ul li a:hover{
    background: rgb(254, 228, 84);
    color: black;
}

.nav-footer{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    /*
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 55px;*/
}

.nav-footer li{
    list-style: none;
}

.a-contacto{
    padding-left: 30px;
    padding-right: 30px;
}

.nav-footer li a{
    background-color: #333;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .2);
    color: white;
    width: 40px;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    transition: .2s;
}

.nav-footer li a:hover{
    background: rgb(254, 228, 84);
    color: black;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .4);
}


.nav-footer li .inicio{
    font-weight: bold;
    padding: 10px 50px;
}

.nav-footer li .contacto{
    padding: 10px 50px;
    font-weight: bolder;
    justify-content: center;
}

.nav-footer li .quienes{
    font-weight: bolder;
}

.derechos{
    color: white;
    text-align: center;
    background: black;
}


@media screen and (max-width: 950px){

    .img-chef{
        grid-column: span 2;
    }

    .comentario-chef p{
        grid-column: span 2;
        margin-top: 10px;
    }

    .reserva-figura{
        grid-column: span 2;
        height: 200px;
    }

    .foto-reserva{
        grid-column: span 2;
        height: 500px;
        background-size: cover;
        background-position: center center;
    }

    .boton-reserva{
        padding: 20px 20px;
    }

    .section-1{
        height: 900px;
    }

    .carta{
        grid-column: span 2;
    }

    .sucursal{
        grid-column: span 2;
    }

    footer{
        height: 900px;
    }

    .logo{
        grid-column: span 3;
        height: 350px;
    }

    .redes-container{
        grid-column: span 3;
        margin-left: 50px;
    }

    .barra-footer{
        grid-column: span 3;
        margin-left: 10px;
    }

}
    



