*{
    margin: 0px;
    padding: 0px;
}

footer{
    height: 300px;
    background-color: rgb(252, 164, 31);
}

.contacto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
}

.logo{
    text-align: center;
}

.logo .imagen{
    width: 300px;
}

.redes-container h4{
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
    background-color: #333;
    border-radius: 20px;
    padding: 8px;

}

.redes-container{
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    justify-content: center;
    margin: 30px 50px 5px 10px;
}

.redes-container ul li{
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.redes-container ul li a{
    display: block;
    padding: 0 10px;
    background: #333;
    color: white;
    line-height: 50px;
    font-size: 22px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .2);
    border-radius: 25px;
    transition: .2s;
}

.redes-container ul:hover a{
    filter: blur(2px);
}

.redes-container ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;
}

.redes-container ul li a:hover{
    background: rgb(254, 228, 84);
    color: black;
}

.nav-footer{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    /*
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 55px;*/
}

.nav-footer li{
    list-style: none;
}

.a-contacto{
    padding-left: 30px;
    padding-right: 30px;
}

.nav-footer li a{
    background-color: #333;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .2);
    color: white;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    transition: .2s;
}

.nav-footer li a:hover{
    background: rgb(254, 228, 84);
    color: black;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .4);
}





